@tailwind base;
@tailwind components;
@tailwind utilities;



.post_content h1 {
    font-size: medium;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: sans-serif;
}
.post_content a {
    color: blue;
    
}